.sc-cntnr {
  width: fit-content;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  // border: 0.5px solid #f7077791;
  // border: 2px solid #f7077760;
  box-shadow: 0 0 6px #f7077760;

  .link {
    text-decoration: none;

    .link-img {
      width: 40px;
      aspect-ratio: 1 / 1;
    }
  }
}
