.i-cntnr {
  width: 100%;
  display: flex;
  max-width: 1200px;

  .i-cntnr-child {
    flex: 1;
    height: calc(100vh - 70px);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .i-banner {
      width: 55%;
    }
  }
}
